| {include file="theme/v4/Blok/UrunlerKategori/Orta/user_categories-data.tpl" assign="data"}
| {foreach $data|json_decode as $item key = key}
| {if $key == $NAVIGATION_LIST[2].ID}
| {$brand_categories = $item}
| {/if}
| {/foreach}
| {if (!$NAVIGATION_LIST[2] && $CATEGORY_LIST) || $brand_categories}
.block.block-attached.block-categories.block-section
    .block-content
        .block-body
            nav.hidden-xs-down.menu
                | {if !$NAVIGATION_LIST[2]}
                | {foreach $CATEGORY_LIST as $item}
                a.menu-link(href='{$item.URL}', title='{$item.NAME}') {$item.NAME}
                | {/foreach}
                | {/if}
                | {foreach $brand_categories as $item}
                a.menu-link(href!='{$item->slug}', title!='{$item->name}') {$item->name}
                | {/foreach}
            .dropdown.hidden-sm-up
                button.btn.btn-block.btn-outline-primary.dropdown-toggle(data-toggle='dropdown') Alt kategoriler
                .dropdown-menu.text-center.w-100
                    | {if !$NAVIGATION_LIST[2]}
                    | {foreach $CATEGORY_LIST as $item}
                    a.dropdown-item(href='{$item.URL}', title='{$item.NAME}') {$item.NAME}
                    | {/foreach}
                    | {/if}
                    | {foreach $brand_categories as $item}
                    a.dropdown-item(href!='{$item->slug}', title!='{$item->name}') {$item->name}
                    | {/foreach}
| {/if}