#change-password-section-block.block.block-section
  .block-content
    .block-header
      .block-title.h3 {#member_change_password_title#}
    form#change-password-section-block-form.align-sm-left.block-body
      .form-group.row
        label.col-lg-3.col-sm-4.form-control-label(for='change-password-section-block-current-password-input') {#password_old#}
        .col-lg-9.col-sm-8
          input#change-password-section-block-current-password-input.form-control(autofocus='', data-i18n='[placeholder]enter-your-current-password', minlength='6', name='password_old', required='', type='password')
      .form-group.row
        label.col-lg-3.col-sm-4.form-control-label(for='change-password-section-block-new-password-input') {#password_new#}
        .col-lg-9.col-sm-8
          input#change-password-section-block-new-password-input.form-control(data-i18n='[placeholder]enter-your-new-password', minlength='6', name='password_new', required='', type='password')
      .form-group.row
        label.col-lg-3.col-sm-4.form-control-label(for='change-password-section-block-repeat-new-password-input') {#password_new_again#}
        .col-lg-9.col-sm-8
          input#change-password-section-block-repeat-new-password-input.form-control(data-i18n='[placeholder]enter-your-new-password-again', minlength='6', name='password_new_again', required='', type='password')
      .form-group.row
        .col-lg-9.col-sm-8.offset-md-3.offset-sm-4
          button#change-password-section-block-btn.btn.btn-primary(title='{#save#}') {#save#}