#forgot-password-section-block.block.block-section
  .block-content
    .block-header
      .block-title.h3 {$BLOCK_TITLE}
    .block-body
      | {if $IS_EMAIL_LINK_PAGE}
      | {if $ERROR_LINK}
      .alert.alert-danger {#link_error_message#}
      | {else}
      | {if $IS_LINK_INACTIVE}
      .alert.alert-danger {#link_is_expired#|replace:"%LINK_PASSWORD%":$PAGE_LINK.MEMBER_PASSWORD_REMINDER}
      | {else}
      .alert.alert-success {#new_password_success#}
      | {/if}
      | {/if}
      | {else}
      p.block-text(data-i18n='if-you-have-forgotten-your-password-please-enter-your-email-address-below-and-we-will-email-you-instructions-on-how-to-set-a-new-password')
      form#forgot-password-section-block-form
        .form-group
          label.form-control-label(for='forgot-password-section-block-input') {#email#}
          input#forgot-password-section-block-input.form-control(autofocus='', data-i18n='[placeholder]enter-your-email-address', name='forgot-email', required='', type='email')
        | {if $CAPTCHA_COUNTER >= $CAPTCHA_LIMIT}
        .form-group
          label.form-control-label(for='forgot-password-section-block-security-code-input') Güvenlik kodu
          .input-group
            label.input-group-addon(for='forgot-password-section-block-security-code-input')
              img(height='29', src='SecCode.php?1509621554748')
            input#forgot-password-section-block-security-code-input.form-control(autocomplete='off', name='security_code', placeholder='Kodu giriniz', required='')
        | {/if}
        button#forgot-password-section-block-btn.btn.btn-primary(title='{#submit#}') {#submit#}
      | {/if}