.block.block-section
  .block-content
    .block-header
      .block-title.h3 {#price_alarm_list#}
    .block-body
      .alert.alert-warning(data-i18n='there-is-no-product-in-your-price-alarm-list-you-can-immediately-select-a-category-and-start-adding-products-to-your-list')