| {if $CATEGORY_ID == 450}
| {$SHOWCASE_CONTENT}
| {else}
| {if $SHOWCASE_CONTENT}
.block.block-attached.block-product-bottom-showcase.block-section
    .block-body {$SHOWCASE_CONTENT}
| {/if}
| {/if}