.block.block-widget
  .block-content
    .block-header
      .h4.block-title {$BLOCK_TITLE}
    .block-body
      p.block-text(data-i18n='manage-everything-with-#name#-and-shopping-faster-in-#name#-online-shopping-website-also-be-the-first-to-know-updates-about-our-new-products-special-offers-and-sales-sneak-peeks-exciting-news-and-more')
    .block-footer
      a.block-link.btn.btn-lg.btn-primary(
        data-i18n='[title]sign-up;sign-up'
        href='/{$PAGE_LINK.MEMBER_REGISTER}'
      )