.swiper-slide(style='background-color: #ce2125;')
  .container
    .swiper-lazy-lg.swiper-link(data-background='//media.dermokozmetika.com.tr/tr/blocks/covers/campaign-showcase/lg/askdermokozmetikada.jpg') Sevgililer gününe özel 14SUBAT kupon koduyla %14 indirim
    .swiper-lazy-md.swiper-link(data-background='//media.dermokozmetika.com.tr/tr/blocks/covers/campaign-showcase/md/askdermokozmetikada.jpg') Sevgililer gününe özel 14SUBAT kupon koduyla %14 indirim
    .swiper-lazy-sm.swiper-link(data-background='//media.dermokozmetika.com.tr/tr/blocks/covers/campaign-showcase/sm/askdermokozmetikada.jpg') Sevgililer gününe özel 14SUBAT kupon koduyla %14 indirim
    .swiper-lazy-xl.swiper-link(data-background='//media.dermokozmetika.com.tr/tr/blocks/covers/campaign-showcase/xl/askdermokozmetikada.jpg') Sevgililer gününe özel 14SUBAT kupon koduyla %14 indirim
    .swiper-lazy-xs.swiper-link(data-background='//media.dermokozmetika.com.tr/tr/blocks/covers/campaign-showcase/xs/askdermokozmetikada.jpg') Sevgililer gününe özel 14SUBAT kupon koduyla %14 indirim