.col-md-6.col-xl-4
  .card
    a(href='/vichy-densi-solutions', title='Vichy Densi Solutions')
      img.card-img.img-lazy(alt='Vichy Densi Solutions', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/grid-showcase/vichy-densi-solutions.jpg', height='250', src='//media.dermokozmetika.com.tr/tr/blocks/covers/grid-showcase/placeholder.gif', title='Vichy Densi Solutions', width='500')
    .card-img-overlay
      a.card-link(href='/vichy-densi-solutions', title='Densi Solutions u keşfet') Densi Solutions'u keşfet
      .card-title.h5 Daha yoğun ve dolgun görünümlü saçlar
.col-md-6.col-xl-4
  .card
    a(href='/the-organic-pharmacy', title='The Organic Pharmacy')
      img.card-img.img-lazy(alt='The Organic Pharmacy', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/grid-showcase/The-Organic-Pharmacy.jpg', height='250', src='//media.dermokozmetika.com.tr/tr/blocks/covers/grid-showcase/placeholder.gif', title='The Organic Pharmacy', width='500')
    .card-img-overlay
      a.card-link(href='/the-organic-pharmacy', title='The Organic Pharmacy yi keşfet') The Organic Pharmacy'yi keşfet
      .card-title.h5 Olağanüstü etki, içeriklerin sinerjisi, modern dokular
.col-xl-4
  .card
    a(href='/avene-cleanance-gel-nettoyant-yagli-ve-akneli-ciltler-icin-temizleme-jeli-200ml', title='Avene Cleanance Gel')
      img.card-img.img-lazy(alt='Avene Cleanance Gel', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/grid-showcase/avene-cleanance-gel.jpg', height='250', src='//media.dermokozmetika.com.tr/tr/blocks/covers/grid-showcase/placeholder.gif', title='Avene Cleanance Gel', width='500')
    .card-img-overlay
      a.card-link(href='/avene-cleanance-gel-nettoyant-yagli-ve-akneli-ciltler-icin-temizleme-jeli-200ml', title='Cleanance Gel i Keşfet') Cleanance Gel'i Keşfet
      .card-title.h5 Sabun içermeyen formulü ile anında saflık ve rahatlık hissi