.swiper-slide
  .card.hidden-lg-down
    a(href='/la-roche-posay')
      img.card-img.swiper-lazy-xl(alt='La Roche Posay Posthelios After Sun', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xl/la-roche-posay-posthelios-after-sun.jpg', height='200', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xl/placeholder.gif', width='500')
    .card-img-overlay
      .container
        .row
          .col-6.mr-auto
            img.card-title.mx-auto.swiper-lazy-xl(alt='La Roche Posay Laboratoire Dermatologique', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/la-roche-posay-laboratoire-dermatologique.png', height='92.3682')
            .card-subtitle.display-1 Posthelios After Sun
            p.card-text.mx-auto.w-60
              | La Roche Posay'dan 1 adet cilt ve 1 adet güneş ürünü alışverişlerinizde&nbsp;
              strong %20 indirim
              | e ek olarak 100ml&nbsp;
              strong La Roche Posay Posthelios After Sun
              | &nbsp;hediye.
            a.btn.btn-lg.btn-primary.card-link(href='/la-roche-posay', title='Alışverişe başla') Alışverişe başla
  .card.hidden-md-down.hidden-xl-up
    a(href='/la-roche-posay')
      img.card-img.swiper-lazy-lg(alt='La Roche Posay Posthelios After Sun', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/lg/la-roche-posay-posthelios-after-sun.jpg', height='300', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/lg/placeholder.gif', width='500')
    .card-img-overlay
      .container
        .row
          .col-6.mr-auto
            img.card-title.mx-auto.swiper-lazy-lg(alt='La Roche Posay Laboratoire Dermatologique', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/la-roche-posay-laboratoire-dermatologique.png', height='82.1052')
            .card-subtitle.display-2 Posthelios After Sun
            p.card-text.mx-auto.w-80
              | La Roche Posay'dan 1 adet cilt ve 1 adet güneş ürünü alışverişlerinizde&nbsp;
              strong %20 indirim
              | e ek olarak 100ml&nbsp;
              strong La Roche Posay Posthelios After Sun
              | &nbsp;hediye.
            a.btn.btn-lg.btn-primary.card-link(href='/la-roche-posay', title='Alışverişe başla') Alışverişe başla
  .card.hidden-sm-down.hidden-lg-up
    a(href='/la-roche-posay')
      img.card-img.swiper-lazy-md(alt='La Roche Posay Posthelios After Sun', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/md/la-roche-posay-posthelios-after-sun.jpg', height='400', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/md/placeholder.gif', width='500')
    .card-img-overlay
      .container
        .row
          .col-8
            img.card-title.mx-auto.swiper-lazy-md(alt='La Roche Posay Laboratoire Dermatologique', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/la-roche-posay-laboratoire-dermatologique.png', height='82.1052')
            .card-subtitle.display-2 Posthelios After Sun
            p.card-text.mx-auto.w-80
              | La Roche Posay'dan 1 adet cilt ve 1 adet güneş ürünü alışverişlerinizde&nbsp;
              strong %20 indirim
              | e ek olarak 100ml&nbsp;
              strong La Roche Posay Posthelios After Sun
              | &nbsp;hediye.
            a.btn.btn-lg.btn-primary.card-link(href='/la-roche-posay', title='Alışverişe başla') Alışverişe başla
  .card.hidden-xs-down.hidden-md-up
    a(href='/la-roche-posay')
      img.card-img.swiper-lazy-sm(alt='La Roche Posay Posthelios After Sun', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/sm/la-roche-posay-posthelios-after-sun.jpg', height='500', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/sm/placeholder.gif', width='500')
    .card-img-overlay
      .container
        img.card-title.mx-auto.swiper-lazy-sm(alt='La Roche Posay Laboratoire Dermatologique', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/la-roche-posay-laboratoire-dermatologique.png', height='72.9824')
        .card-subtitle.display-3 Posthelios After Sun
        p.card-text.mx-auto.w-80
          | La Roche Posay'dan 1 adet cilt ve 1 adet güneş ürünü alışverişlerinizde&nbsp;
          strong %20 indirim
          | e ek olarak 100ml&nbsp;
          strong La Roche Posay Posthelios After Sun
          | &nbsp;hediye.
        a.btn.btn-lg.btn-primary.card-link(href='/la-roche-posay', title='Alışverişe başla') Alışverişe başla
  .card.hidden-sm-up
    a(href='/la-roche-posay')
      img.card-img.swiper-lazy-xs(alt='La Roche Posay Posthelios After Sun', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xs/la-roche-posay-posthelios-after-sun.jpg', height='600', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xs/placeholder.gif', width='500')
    .card-img-overlay
      .container
        img.card-title.mx-auto.swiper-lazy-xs(alt='La Roche Posay Laboratoire Dermatologique', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/la-roche-posay-laboratoire-dermatologique.png', height='64.8732')
        .card-subtitle.h1 Posthelios After Sun
        p.card-subtitle.mx-auto.w-90
          | La Roche Posay'dan 1 adet cilt ve 1 adet güneş ürünü alışverişlerinizde&nbsp;
          strong %20 indirim
          | e ek olarak 100ml&nbsp;
          strong La Roche Posay Posthelios After Sun
          | &nbsp;hediye.
        a.btn.btn-lg.btn-primary.card-link(href='/la-roche-posay', title='Alışverişe başla') Alışverişe başla
.swiper-slide
  .card.hidden-lg-down
    a(href='/vichy')
      img.card-img.swiper-lazy-xl(alt='Vichy Liftactiv Supreme Night', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xl/vichy-liftactiv-supreme-night.jpg', height='200', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xl/placeholder.gif', width='500')
    .card-img-overlay
      .container
        .row
          .col-6.ml-auto
            img.card-title.mx-auto.swiper-lazy-xl(alt='Vichy Laboratoires', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/vichy-logo.png', height='46.1841')
            .card-subtitle.display-1.text-white Liftactiv Supreme Night
            p.card-text.mx-auto.text-white.w-60
              | Vichy ürünlerindeki&nbsp;
              strong %15 indirim
              | &nbsp;ve&nbsp;
              strong ücretsiz kargo
              | ya ek olarak&nbsp;
              strong 100 TL ve üzeri
              | &nbsp;alışverişlerinizde 15ml&nbsp;
              strong Vichy Liftactiv Supreme Night
              | &nbsp;hediye.
            a.btn.btn-lg.btn-primary.card-link(href='/vichy', title='Alışverişe başla') Alışverişe başla
  .card.hidden-md-down.hidden-xl-up
    a(href='/vichy')
      img.card-img.swiper-lazy-lg(alt='Vichy Liftactiv Supreme Night', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/lg/vichy-liftactiv-supreme-night.jpg', height='300', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/lg/placeholder.gif', width='500')
    .card-img-overlay
      .container
        .row
          .col-6.ml-auto
            img.card-title.mx-auto.swiper-lazy-lg(alt='Vichy Laboratoires', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/vichy-logo.png', height='41.0526')
            .card-subtitle.display-2.text-white Liftactiv Supreme Night
            p.card-text.mx-auto.text-white.w-80
              | Vichy ürünlerindeki&nbsp;
              strong %15 indirim
              | &nbsp;ve&nbsp;
              strong ücretsiz kargo
              | ya ek olarak&nbsp;
              strong 100 TL ve üzeri
              | &nbsp;alışverişlerinizde 15ml&nbsp;
              strong Vichy Liftactiv Supreme Night
              | &nbsp;hediye.
            a.btn.btn-lg.btn-primary.card-link(href='/vichy', title='Alışverişe başla') Alışverişe başla
  .card.hidden-sm-down.hidden-lg-up
    a(href='/vichy')
      img.card-img.swiper-lazy-md(alt='Vichy Liftactiv Supreme Night', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/md/vichy-liftactiv-supreme-night.jpg', height='400', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/md/placeholder.gif', width='500')
    .card-img-overlay
      .container
        .row
          .col-8
            img.card-title.mx-auto.swiper-lazy-md(alt='Vichy Laboratoires', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/vichy-logo.png', height='41.0526')
            .card-subtitle.display-2.text-white Liftactiv Supreme Night
            p.card-text.mx-auto.text-white.w-80
              | Vichy ürünlerindeki&nbsp;
              strong %15 indirim
              | &nbsp;ve&nbsp;
              strong ücretsiz kargo
              | ya ek olarak&nbsp;
              strong 100 TL ve üzeri
              | &nbsp;alışverişlerinizde 15ml&nbsp;
              strong Vichy Liftactiv Supreme Night
              | &nbsp;hediye.
            a.btn.btn-lg.btn-primary.card-link(href='/vichy', title='Alışverişe başla') Alışverişe başla
  .card.hidden-xs-down.hidden-md-up
    a(href='/vichy')
      img.card-img.swiper-lazy-sm(alt='Vichy Liftactiv Supreme Night', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/sm/vichy-liftactiv-supreme-night.jpg', height='500', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/sm/placeholder.gif', width='500')
    .card-img-overlay
      .container
        img.card-title.mx-auto.swiper-lazy-sm(alt='Vichy Laboratoires', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/vichy-logo.png', height='36.4912')
        .card-subtitle.display-3.text-white Liftactiv Supreme Night
        p.card-text.mx-auto.text-white.w-80
          | Vichy ürünlerindeki&nbsp;
          strong %15 indirim
          | &nbsp;ve&nbsp;
          strong ücretsiz kargo
          | ya ek olarak&nbsp;
          strong 100 TL ve üzeri
          | &nbsp;alışverişlerinizde 15ml&nbsp;
          strong Vichy Liftactiv Supreme Night
          | &nbsp;hediye.
        a.btn.btn-lg.btn-primary.card-link(href='/vichy', title='Alışverişe başla') Alışverişe başla
  .card.hidden-sm-up
    a(href='/vichy')
      img.card-img.swiper-lazy-xs(alt='Vichy Liftactiv Supreme Night', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xs/vichy-liftactiv-supreme-night.jpg', height='600', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xs/placeholder.gif', width='500')
    .card-img-overlay
      .container
        img.card-title.mx-auto.swiper-lazy-xs(alt='Vichy Laboratoires', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/vichy-logo.png', height='32.4366')
        .card-subtitle.h1.text-white Liftactiv Supreme Night
        p.card-subtitle.mx-auto.text-white.w-90
          | Vichy ürünlerindeki&nbsp;
          strong %15 indirim
          | &nbsp;ve&nbsp;
          strong ücretsiz kargo
          | ya ek olarak&nbsp;
          strong 100 TL ve üzeri
          | &nbsp;alışverişlerinizde 15ml&nbsp;
          strong Vichy Liftactiv Supreme Night
          | &nbsp;hediye.
        a.btn.btn-lg.btn-primary.card-link(href='/vichy', title='Alışverişe başla') Alışverişe başla
.swiper-slide
  .card
    a(href='/avene', title='Avene Eau Thermale')
      img.card-img.swiper-lazy-lg(alt='Avene Eau Thermale Thermal Spring Water', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/lg/avene-eau-thermale-thermal-spring-water.jpg', height='300', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/lg/placeholder.gif', title='Avene Eau Thermale Thermal Spring Water', width='500')
      img.card-img.swiper-lazy-md(alt='Avene Eau Thermale Thermal Spring Water', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/md/avene-eau-thermale-thermal-spring-water.jpg', height='400', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/md/placeholder.gif', title='Avene Eau Thermale Thermal Spring Water', width='500')
      img.card-img.swiper-lazy-sm(alt='Avene Eau Thermale Thermal Spring Water', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/sm/avene-eau-thermale-thermal-spring-water.jpg', height='500', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/sm/placeholder.gif', title='Avene Eau Thermale Thermal Spring Water', width='500')
      img.card-img.swiper-lazy-xl(alt='Avene Eau Thermale Thermal Spring Water', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xl/avene-eau-thermale-thermal-spring-water.jpg', height='200', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xl/placeholder.gif', title='Avene Eau Thermale Thermal Spring Water', width='500')
      img.card-img.swiper-lazy-xs(alt='Avene Eau Thermale Thermal Spring Water', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xs/avene-eau-thermale-thermal-spring-water.jpg', height='600', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xs/placeholder.gif', title='Avene Eau Thermale Thermal Spring Water', width='500')
    .card-img-overlay
      .container
        .row
          .col-lg-5.col-md-6.col-sm-8.col-xl-4.mr-lg-auto
            .card-title
              img.mx-auto.swiper-lazy-lg(alt='Avene Eau Thermale', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/avene-eau-thermale.png', height='70', title='Avene Eau Thermale')
              img.mx-auto.swiper-lazy-md(alt='Avene Eau Thermale', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/avene-eau-thermale.png', height='60', title='Avene Eau Thermale')
              img.mx-auto.swiper-lazy-sm(alt='Avene Eau Thermale', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/avene-eau-thermale.png', height='50', title='Avene Eau Thermale')
              img.mx-auto.swiper-lazy-xl(alt='Avene Eau Thermale', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/avene-eau-thermale.png', height='70', title='Avene Eau Thermale')
              img.mx-auto.swiper-lazy-xs(alt='Avene Eau Thermale', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/avene-eau-thermale.png', height='50', title='Avene Eau Thermale')
            .card-subtitle
              .hidden-lg-down
                .display-1 Termal su hediye
              .hidden-sm-up
                .display-3 Termal su hediye
              .hidden-xl-up.hidden-xs-down
                .display-2 Termal su hediye
            p.card-text
              | Dermokozmetika'dan yapacağınız&nbsp;
              strong 100 TL ve üzeri
              | &nbsp;Avene alışverişlerinizde&nbsp;
              strong %30 indirime
              | &nbsp;ek olarak 50 ml&nbsp;
              strong Avene Eau Thermale Termal Su
              | &nbsp;hediye.
            .card-link
              a.btn.btn-primary.btn-lg.hidden-sm-down(href='/avene', title='Alışverişe başla') Alışverişe başla
              a.btn.btn-primary.hidden-md-up(href='/avene', title='Alışverişe başla') Alışverişe başla
.swiper-slide
  .card
    a(href='/burts-bees', title='Burts Bees')
      img.card-img.swiper-lazy-lg(alt='Burts Bees The Kissable Colour Set', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/lg/burts-bees-the-kissable-colour-set.jpg', height='300', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/lg/placeholder.gif', title='Burts Bees The Kissable Colour Set', width='500')
      img.card-img.swiper-lazy-md(alt='Burts Bees The Kissable Colour Set', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/md/burts-bees-the-kissable-colour-set.jpg', height='400', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/md/placeholder.gif', title='Burts Bees The Kissable Colour Set', width='500')
      img.card-img.swiper-lazy-sm(alt='Burts Bees The Kissable Colour Set', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/sm/burts-bees-the-kissable-colour-set.jpg', height='500', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/sm/placeholder.gif', title='Burts Bees The Kissable Colour Set', width='500')
      img.card-img.swiper-lazy-xl(alt='Burts Bees The Kissable Colour Set', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xl/burts-bees-the-kissable-colour-set.jpg', height='200', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xl/placeholder.gif', title='Burts Bees The Kissable Colour Set', width='500')
      img.card-img.swiper-lazy-xs(alt='Burts Bees The Kissable Colour Set', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xs/burts-bees-the-kissable-colour-set.jpg', height='600', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xs/placeholder.gif', title='Burts Bees The Kissable Colour Set', width='500')
    .card-img-overlay
      .container
        .row
          .col-lg-5.col-md-6.col-sm-8.col-xl-4.mr-lg-auto
            .card-title
              img.mx-auto.swiper-lazy-lg(alt='Burts Bees', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/burts-bees.png', height='50', title='Burts Bees')
              img.mx-auto.swiper-lazy-md(alt='Burts Bees', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/burts-bees.png', height='40', title='Burts Bees')
              img.mx-auto.swiper-lazy-sm(alt='Burts Bees', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/burts-bees.png', height='30', title='Burts Bees')
              img.mx-auto.swiper-lazy-xl(alt='Burts Bees', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/burts-bees.png', height='50', title='Burts Bees')
              img.mx-auto.swiper-lazy-xs(alt='Burts Bees', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/burts-bees.png', height='30', title='Burts Bees')
            .card-subtitle
              .hidden-lg-down
                .display-1 The kissable colour set hediye
              .hidden-sm-up
                .display-3 The kissable colour set hediye
              .hidden-xl-up.hidden-xs-down
                .display-2 The kissable colour set hediye
            p.card-text
              | Dermokozmetika'dan yapacağınız&nbsp;
              strong 175 TL ve üzeri
              | &nbsp;Burt's Bees alışverişlerinizde&nbsp;
              strong %25 indirime
              | &nbsp;ek olarak&nbsp;
              strong Burt's Bees The Kissable Colour Set
              | &nbsp;hediye.
            .card-link
              a.btn.btn-primary.btn-lg.hidden-sm-down(href='/burts-bees', title='Alışverişe başla') Alışverişe başla
              a.btn.btn-primary.hidden-md-up(href='/burts-bees', title='Alışverişe başla') Alışverişe başla
.swiper-slide
  .card
    a(href='/klorane', title='Klorane Laboratories Pure Botanical Care')
      img.card-img.swiper-lazy-lg(alt='Klorane Laboratories Pure Botanical Care', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/lg/klorane-laboratories-pure-botanical-care.jpg', height='300', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/lg/placeholder.gif', title='Klorane Laboratories Pure Botanical Care', width='500')
      img.card-img.swiper-lazy-md(alt='Klorane Laboratories Pure Botanical Care', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/md/klorane-laboratories-pure-botanical-care.jpg', height='400', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/md/placeholder.gif', title='Klorane Laboratories Pure Botanical Care', width='500')
      img.card-img.swiper-lazy-sm(alt='Klorane Laboratories Pure Botanical Care', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/sm/klorane-laboratories-pure-botanical-care.jpg', height='500', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/sm/placeholder.gif', title='Klorane Laboratories Pure Botanical Care', width='500')
      img.card-img.swiper-lazy-xl(alt='Klorane Laboratories Pure Botanical Care', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xl/klorane-laboratories-pure-botanical-care.jpg', height='200', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xl/placeholder.gif', title='Klorane Laboratories Pure Botanical Care', width='500')
      img.card-img.swiper-lazy-xs(alt='Klorane Laboratories Pure Botanical Care', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xs/klorane-laboratories-pure-botanical-care.jpg', height='600', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xs/placeholder.gif', title='Klorane Laboratories Pure Botanical Care', width='500')
    .card-img-overlay
      .container
        .row
          .col-lg-5.col-md-6.col-sm-8.col-xl-4.ml-lg-auto
            .card-title
              img.mx-auto.swiper-lazy-lg(alt='Klorane Laboratories Pure Botanical Care', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/klorane-laboratories-pure-botanical-care.svg', height='70', title='Klorane Laboratories Pure Botanical Care')
              img.mx-auto.swiper-lazy-md(alt='Klorane Laboratories Pure Botanical Care', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/klorane-laboratories-pure-botanical-care.svg', height='60', title='Klorane Laboratories Pure Botanical Care')
              img.mx-auto.swiper-lazy-sm(alt='Klorane Laboratories Pure Botanical Care', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/klorane-laboratories-pure-botanical-care.svg', height='50', title='Klorane Laboratories Pure Botanical Care')
              img.mx-auto.swiper-lazy-xl(alt='Klorane Laboratories Pure Botanical Care', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/klorane-laboratories-pure-botanical-care.svg', height='70', title='Klorane Laboratories Pure Botanical Care')
              img.mx-auto.swiper-lazy-xs(alt='Klorane Laboratories Pure Botanical Care', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/klorane-laboratories-pure-botanical-care.svg', height='50', title='Klorane Laboratories Pure Botanical Care')
            .card-subtitle
              .hidden-lg-down
                .display-1 3 al 2 öde
              .hidden-sm-up
                .display-3 3 al 2 öde
              .hidden-xl-up.hidden-xs-down
                .display-2 3 al 2 öde
            p.card-text
              | Dermokozmetika'dan yapacağınız&nbsp;
              strong 3 adet ve üzeri
              | &nbsp;Klorane alışverişlerinizde&nbsp;
              strong %20 indirime
              | &nbsp;ek olarak sepetinizdeki en düşük fiyatlı ürün hediye.
            .card-link
              a.btn.btn-primary.btn-lg.hidden-sm-down(href='/klorane', title='Alışverişe başla') Alışverişe başla
              a.btn.btn-primary.hidden-md-up(href='/klorane', title='Alışverişe başla') Alışverişe başla
.swiper-slide
  .card.hidden-lg-down
    a(href='/jane-iredale')
      img.card-img.swiper-lazy-xl(alt='Jane Iredale PurePressed Base Fondöten', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xl/Jane-Iredale-PurePressed-Base-Fondöten.jpg', height='200', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xl/placeholder.gif', width='500')
    .card-img-overlay
      .container
        .row
          .col-6.mr-auto
            img.card-title.mx-auto.swiper-lazy-xl(alt='Jane Iredale', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/Jane-Iredale.png', height='49.8327')
            .card-subtitle.display-1
              | PurePressed
              br
              | Base Fondöten
            p.card-text.mx-auto.w-60
              | Jane Iredale ürünlerindeki&nbsp;
              strong %20 indirim
              | e ek olarak&nbsp;
              strong 200 TL ve üzeri
              | &nbsp;alışverişlerinizde&nbsp;
              strong Jane Iredale PurePressed Base Fondöten
              | &nbsp;hediye.
            a.btn.btn-lg.btn-primary.card-link(href='/jane-iredale', title='Alışverişe başla') Alışverişe başla
  .card.hidden-md-down.hidden-xl-up
    a(href='/jane-iredale')
      img.card-img.swiper-lazy-lg(alt='Jane Iredale PurePressed Base Fondöten', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/lg/Jane-Iredale-PurePressed-Base-Fondöten.jpg', height='300', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/lg/placeholder.gif', width='500')
    .card-img-overlay
      .container
        .row
          .col-6.mr-auto
            img.card-title.mx-auto.swiper-lazy-lg(alt='Jane Iredale', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/Jane-Iredale.png', height='44.2957')
            .card-subtitle.display-2 PurePressed Base Fondöten
            p.card-text.mx-auto.w-80
              | Jane Iredale ürünlerindeki&nbsp;
              strong %20 indirim
              | e ek olarak&nbsp;
              strong 200 TL ve üzeri
              | &nbsp;alışverişlerinizde&nbsp;
              strong Jane Iredale PurePressed Base Fondöten
              | &nbsp;hediye.
            a.btn.btn-lg.btn-primary.card-link(href='/jane-iredale', title='Alışverişe başla') Alışverişe başla
  .card.hidden-sm-down.hidden-lg-up
    a(href='/jane-iredale')
      img.card-img.swiper-lazy-md(alt='Jane Iredale PurePressed Base Fondöten', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/md/Jane-Iredale-PurePressed-Base-Fondöten.jpg', height='400', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/md/placeholder.gif', width='500')
    .card-img-overlay
      .container
        .row
          .col-8
            img.card-title.mx-auto.swiper-lazy-md(alt='Jane Iredale', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/Jane-Iredale.png', height='44.2957')
            .card-subtitle.display-2 PurePressed Base Fondöten
            p.card-text.mx-auto.w-80
              | Jane Iredale ürünlerindeki&nbsp;
              strong %20 indirim
              | e ek olarak&nbsp;
              strong 200 TL ve üzeri
              | &nbsp;alışverişlerinizde&nbsp;
              strong Jane Iredale PurePressed Base Fondöten
              | &nbsp;hediye.
            a.btn.btn-lg.btn-primary.card-link(href='/jane-iredale', title='Alışverişe başla') Alışverişe başla
  .card.hidden-xs-down.hidden-md-up
    a(href='/jane-iredale')
      img.card-img.swiper-lazy-sm(alt='Jane Iredale PurePressed Base Fondöten', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/sm/Jane-Iredale-PurePressed-Base-Fondöten.jpg', height='500', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/sm/placeholder.gif', width='500')
    .card-img-overlay
      .container
        img.card-title.mx-auto.swiper-lazy-sm(alt='Jane Iredale', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/Jane-Iredale.png', height='39.374')
        .card-subtitle.display-3 PurePressed Base Fondöten
        p.card-text.mx-auto.w-80
          | Jane Iredale ürünlerindeki&nbsp;
          strong %20 indirim
          | e ek olarak&nbsp;
          strong 200 TL ve üzeri
          | &nbsp;alışverişlerinizde&nbsp;
          strong Jane Iredale PurePressed Base Fondöten
          | &nbsp;hediye.
        a.btn.btn-lg.btn-primary.card-link(href='/jane-iredale', title='Alışverişe başla') Alışverişe başla
  .card.hidden-sm-up
    a(href='/jane-iredale')
      img.card-img.swiper-lazy-xs(alt='Jane Iredale PurePressed Base Fondöten', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xs/Jane-Iredale-PurePressed-Base-Fondöten.jpg', height='600', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xs/placeholder.gif', width='500')
    .card-img-overlay
      .container
        img.card-title.mx-auto.swiper-lazy-xs(alt='Jane Iredale', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/Jane-Iredale.png', height='36.8191')
        .card-subtitle.h1 PurePressed Base Fondöten
        p.card-subtitle.mx-auto.w-90
          | Jane Iredale ürünlerindeki&nbsp;
          strong %20 indirim
          | e ek olarak&nbsp;
          strong 200 TL ve üzeri
          | &nbsp;alışverişlerinizde&nbsp;
          strong Jane Iredale PurePressed Base Fondöten
          | &nbsp;hediye.
        a.btn.btn-lg.btn-primary.card-link(href='/jane-iredale', title='Alışverişe başla') Alışverişe başla
.swiper-slide
  .card
    a(href='/mustela-urunler', title='Mustela Gentle Cleansing Şampuan')
      img.card-img.swiper-lazy-lg(alt='Mustela Gentle Cleansing Şampuan', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/lg/mustela-gentle-cleansing-sampuan.jpg', height='300', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/lg/placeholder.gif', title='Mustela Gentle Cleansing Şampuan', width='500')
      img.card-img.swiper-lazy-md(alt='Mustela Gentle Cleansing Şampuan', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/md/mustela-gentle-cleansing-sampuan.jpg', height='400', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/md/placeholder.gif', title='Mustela Gentle Cleansing Şampuan', width='500')
      img.card-img.swiper-lazy-sm(alt='Mustela Gentle Cleansing Şampuan', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/sm/mustela-gentle-cleansing-sampuan.jpg', height='500', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/sm/placeholder.gif', title='Mustela Gentle Cleansing Şampuan', width='500')
      img.card-img.swiper-lazy-xl(alt='Mustela Gentle Cleansing Şampuan', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xl/mustela-gentle-cleansing-sampuan.jpg', height='200', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xl/placeholder.gif', title='Mustela Gentle Cleansing Şampuan', width='500')
      img.card-img.swiper-lazy-xs(alt='Mustela Gentle Cleansing Şampuan', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xs/mustela-gentle-cleansing-sampuan.jpg', height='600', src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/xs/placeholder.gif', title='Mustela Gentle Cleansing Şampuan', width='500')
    .card-img-overlay
      .container
        .row
          .col-lg-5.col-md-6.col-sm-8.col-xl-4.ml-lg-auto
            .card-title
              img.mx-auto.swiper-lazy-lg(alt='Mustela', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/mustela-logo.svg', title='Mustela', width='180')
              img.mx-auto.swiper-lazy-md(alt='Mustela', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/mustela-logo.svg', title='Mustela', width='160')
              img.mx-auto.swiper-lazy-sm(alt='Mustela', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/mustela-logo.svg', title='Mustela', width='140')
              img.mx-auto.swiper-lazy-xl(alt='Mustela', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/mustela-logo.svg', title='Mustela', width='200')
              img.mx-auto.swiper-lazy-xs(alt='Mustela', data-src='//media.dermokozmetika.com.tr/tr/blocks/covers/interactive-showcase/mustela-logo.svg', title='Mustela', width='120')
            .card-subtitle
              .hidden-lg-down
                .display-1 Gentle Cleansing Şampuan
                .h1.mb-0 &nbsp;hediye
              .hidden-md-down.hidden-xl-up
                .display-2 Gentle Cleansing Şampuan
                .h2.mb-0 &nbsp;hediye
              .hidden-sm-down.hidden-lg-up
                .display-3 Gentle Cleansing Şampuan
                .h3.mb-0 &nbsp;hediye
              .hidden-xs-down.hidden-md-up
                .display-4 Gentle Cleansing Şampuan
                .h5.mb-0 &nbsp;hediye
              .hidden-sm-up
                .h1.mb-0 Gentle Cleansing Şampuan
                .h5.mb-0 &nbsp;hediye
            p.card-text
              | Dermokozmetika'dan yapacağınız&nbsp;
              strong 100 TL ve üzeri
              | &nbsp;Mustela alışverişlerinizde&nbsp;
              strong %50 indirime
              | &nbsp;ek olarak seyahat boy&nbsp;
              strong Mustela Gentle Cleansing Şampuan 50ML
              | &nbsp;hediye.
            a.btn.btn.btn-primary.btn-lg.card-link.hidden-sm-down(href='/mustela-urunler', title='Alışverişe başla') Alışverişe başla
            a.btn.btn-primary.card-link.hidden-md-up.ml-0(href='/mustela-urunler', title='Alışverişe başla') Alışverişe başla