.bg-gray-lightest.swiper-slide
  p.block-text
    | 100 TL ve üzeri alışverişlerinizde&nbsp;
    strong ücretsiz kargo
.bg-gray-lightest.swiper-slide
  p.block-text
    | Sepette&nbsp;
    strong hediyeni sen seç
.bg-gray-lightest.swiper-slide
  p.block-text
    | SSL serfikasıyla&nbsp;
    strong güvenli alışveriş
.bg-gray-lightest.swiper-slide
  p.block-text
    | Tüm ürünler&nbsp;
    strong eczane güvencesiyle
.bg-gray-lightest.swiper-slide
  p.block-text
    | 7 gün içerisinde&nbsp;
    strong ücretsiz iade
.bg-gray-lightest.swiper-slide
  p.block-text
    | Bakım ürünlerinde doğru tercih için&nbsp;
    strong uzman desteği