.block.block-cover.block-popular-categories
    .block-content
        .block-header
            .block-title.h2 {$BLOCK_TITLE}
        .block-body
            .row
                .col-lg-3.col-md-4.col-sm-6
                    a.bg-gray-lightest.btn(href='/yuz-temizleyici', title='Yüz Temizleyici') Yüz Temizleyici
                .col-lg-3.col-md-4.col-sm-6
                    a.bg-gray-lightest.btn(href='/leke-kremi', title='Leke Kremi') Leke Kremi
                .col-lg-3.col-md-4.col-sm-6
                    a.bg-gray-lightest.btn(href='/gunes-kremi', title='Güneş Kremi') Güneş Kremi
                .col-lg-3.col-md-4.col-sm-6
                    a.bg-gray-lightest.btn(href='/bb-krem-cc-krem', title='BB Krem & CC Krem') BB Krem & CC Krem
                .col-lg-3.col-md-4.col-sm-6
                    a.bg-gray-lightest.btn(href='/catlak-kremi', title='Çatlak Kremi') Çatlak Kremi
                .col-lg-3.col-md-4.col-sm-6
                    a.bg-gray-lightest.btn(href='/sivilce-kremi', title='Sivilce Kremi') Sivilce Kremi
                .col-lg-3.col-md-4.col-sm-6
                    a.bg-gray-lightest.btn(href='/goz-cevresi-kremi', title='Göz Çevresi Kremi') Göz Çevresi Kremi
                .col-lg-3.col-md-4.col-sm-6
                    a.bg-gray-lightest.btn(href='/selulit-kremi', title='Selülit Kremi') Selülit Kremi
                .col-lg-3.col-md-4.col-sm-6
                    a.bg-gray-lightest.btn(href='/makyaj-temizleyici', title='Makyaj Temizleyici') Makyaj Temizleyici
                .col-lg-3.col-md-4.col-sm-6
                    a.bg-gray-lightest.btn(href='/termal-su', title='Termal Su') Termal Su
                .col-lg-3.col-md-4.col-sm-6
                    a.bg-gray-lightest.btn(href='/anti-aging-krem', title='Anti Aging Krem') Anti Aging Krem
                .col-lg-3.col-md-4.col-sm-6
                    a.bg-gray-lightest.btn(href='/dudak-nemlendirici', title='Dudak Nemlendirici') Dudak Nemlendirici
                .col-lg-3.col-md-4.col-sm-6
                    a.bg-gray-lightest.btn(href='/bebek-yagi', title='Bebek Yağı') Bebek Yağı
                .col-lg-3.col-md-4.col-sm-6
                    a.bg-gray-lightest.btn(href='/bebek-pisik-kremi', title='Bebek Pişik Kremi') Bebek Pişik Kremi
                .col-lg-3.col-md-4.col-sm-6
                    a.bg-gray-lightest.btn(href='/bebek-sampuani', title='Bebek Şampuanı') Bebek Şampuanı
                .col-lg-3.col-md-4.col-sm-6
                    a.bg-gray-lightest.btn(href='/sac-serumu', title='Saç Serumu') Saç Serumu